/* base.html */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h6 {
    font-size: 20px;
}

.wrapper {
    position: fixed;
}
.borde-size{
    margin: 0px 20px 0px 0px;
}

.container-fluid img {
    margin-right: 10px;
}

footer .padding .footer-primera{
    padding-left: 40px;
}

footer .padding .footer-primera p a{
    text-decoration: none;
    color: black;
}

footer .padding .footer-segunda p a{
    text-decoration: none;
    color: black;
}

footer .padding .footer-tercera .inline{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer .padding .footer-tercera .contenedordos{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;

}

footer .padding .footer-tercera .contenedortres{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 30px;
    padding-right: 30px;
    align-items: baseline;

}
/* misReportes.html */
.padding-top-bottom{
    padding-top: 90px;
}
.flex-inline{
    display: flex;
    flex-direction: row;
}

section .grids{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
    row-gap: 40px;
    padding: 30px 10px 50px 10px;
}

section .grids .hijo{
    justify-self: center;
}

section .grids .hijo img{
    padding-right: 30px;
    width: fit-content;
}


@media (max-width: 990px) {
    /* base.html */
    .justify-content-end{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
    }
    .borde-size{
        margin-bottom: 15px;
        width: 70%;
    }
    .container-fluid img {
        text-align: center;
        margin: 0px;
    }

    .footer .padding{
        padding: 0px;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .footer .padding .footer-primera{
        padding: 0px;
        padding-bottom: 20px;
        text-align: center;
    }
    .footer .padding .footer-segunda{
        padding-bottom: 20px;
    }

    .footer .padding .footer-tercera .inline{
        padding-bottom: 10px;
    }

    .footer .padding .footer-tercera .contenedordos{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        width: 20%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
    }

    footer .padding .footer-tercera .contenedortres{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 30px;
        padding-right: 30px;
        align-items:center;
    
    }
    /* misReportes.html */
    section .grids{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    section .grids .hijo{
        justify-self: center;
    }
    
    section .grids .hijo img{
        padding-right: 30px;
    }
    
  }

