{% extends "base.html" %}
{% block tab %}Buscar Zona{% endblock %}
{% block body %}
<section class="seccionBusqueda">
    <h1 class="text-center padding-top-bottom title">Buscar Zona</h1>
    <div class="form-container busqueda">
        <form action="{{url_for('buscar')}}" method="get" class="form" id="user-form">
                <div class="form-box">
                    <input type="text" name="busqueda" placeholder="Busca por localidad" class="filtrar-items">
                    <small class="error-text">Introduce una localidad</small>
                </div>
               
                <button class="btn-outline-success borde-size" id="submit-btn" type="submit" disabled>buscar</button>
                    <!-- <input class="btn btn-outline-success borde-size" id="submit-btn" type="submit" value="Buscar" disabled> -->
               
        </form>

    </div>

    <!-- Listado de reportes -->
    <div class="Reportes">
        <div class="listado-tarjetas">
            {% if reportes %}
                {% for value in reportes %}
                <div class="tarjetas">
                    <h5>Incidencia: {{ value.tipo_reporte }}</h5>
                    <p>Localidad: {{ value.localidad }}</p>
                    <p>Dirección: {{ value.direccion_reporte }}</p>
                    <p>Horario estimado: {{ value.fecha_reporte }}</p>
                    <p class="text-justify">Descripción: {{ value.descripcion }}</p>
                    <button class="btn btn-outline-success borde-size">
                        <a href="{{url_for('mreporte_id', id=value.ID)}}">Más información</a>
                    </button>
                </div>
                {% endfor %}
            {% else %}
                <p>No se encontraron reportes para esta localidad.</p>
            {% endif %}
        </div>
        <div class="mapa-section">
            <div class="map" id="map"></div>
        </div>
    </section>
    <script>
        const coordenadas = {{ coordenadas|default([])|tojson }};
        console.log("Coordenadas recibidas:", coordenadas);
        const form=document.getElementById('user-form');
        const submit=document.getElementById('submit-btn');
        let timeout=null;
        let errors= {
            busqueda:true
        };
        document.querySelectorAll('.form-box').forEach((box)=>{
            const boxInput=box.querySelector('input');
            boxInput.addEventListener('keydown', (event)=>{
                clearTimeout(timeout)
                timeout=setTimeout(()=>{
                    console.log(`input ${boxInput.name} value:`, boxInput.value);
                    validation(box,boxInput);
                },300);
            });
        });
        validation=(box, boxInput)=>{
            if(boxInput.name=='busqueda'){
                if (boxInput.value==''){
                    showError(true,box, boxInput);
                }else{
                    showError(false,box, boxInput);
                }
            }
            submitController()
        }

        showError= (check,box, boxInput)=>{
            if (check){
                box.classList.remove('form-success');
                box.classList.add('form-error');
                errors[boxInput.name] =true;
            }else{
                box.classList.remove('form-error');
                box.classList.add('form-success');
                errors[boxInput.name] =false;
            }
        }

        submitController=()=>{
            if (errors.busqueda){
                submit.toggleAttribute('disabled', true);
            }else{
                submit.toggleAttribute('disabled', false);
            }
        };
        form.addEventListener('submit', (ev)=>{
            even.preventDefault();
        })
    </script>

{% endblock %}
