<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZonaRoja| Descarga Aquí la Aplicación</title>
    <link rel="shortcut icon" href="../static/img/advertencia.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="wrapper container-fluid">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <img src="../static/img/advertencia.png" alt="alert" width="25px" height="25px">
                <a class="navbar-brand" href="#">ZonaRoja</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav-tabs navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="./home.html">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Reportes</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="./reporte.html">Nuevo Reporte</a></li>
                                <li><a class="dropdown-item" href="./MisReportes.html">Mis Reportes</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./download.html">App</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./contacto.html">Contacto</a>
                        </li>
                    </ul>
                    <div class="justify-content-end">
                        <button class="btn btn-outline-success borde-size" type="submit">Inicia Sesion</button>
                        <button class="btn btn-outline-success borde-size" type="submit">Registrarse</button>    
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div id="content_jumbotron" >
        <div class="row container-fluid">
            <div class="col-8 p-2 mt-4 p-md-4 m-md-3 ">
                <h1 class=" fw-bold">Descargate la app</h1>
                <br>
                <h5 class="fw-normal text-muted mb-3">Realizá resportes y visualizá las zonas rojas de forma rápida y segura desde la aplicación.</h5>
                 
                <div class="row container-fluid d-flex justify-content-left">
                    <div class="col-auto imgicono">
                        <a href="https://play.google.com/store/apps/details?id=com.tree.idle.cat.office&pcampaignid=web_share"><img src="../static/img/Banner_GooglePlay.png" alt="icono de Google Play" width="130px" height="65px"></a>
                    </div>
                    <div class="col-auto ms-2 imgicono">
                        <a href="https://apps.apple.com/es/app/pac-man/id293778748"> <img src="../static/img/banner-app-store.png" alt="icono de App Store" width="120px" height="44px"></a>
                    </div>
                </div>
            </div>
            <div class="col-3 container-fluid imgcelular">
                <img src="../static/img/img_celu.png" class="float-end" width="100px" height="200px">
            </div>
        </div>
    </div>

    <div class="instrucciones pt-2 pb-2 container-fluid">
        <div class="row imgderecha mt-3 pe-3">
            <div class="col-8 ms-5">
                <p> 📢 Acá va a estar la información de como funciona la app. <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-3">
                <img src="../static/img/img_celu.png" class="float-end" alt="imagen de la app" width="80px" height="150px">
            </div>
        </div>
        <div class="row imgizq mt-3 ps-3">
            <div class="col-3 ms-5">
                <img src="../static/img/img_celu.png" class="float-start" alt="imagen de la app" width="80px" height="150px">
            </div>
            <div class="col-8 ">
                <p> ⚠️ Acá va a estar la información de como funciona la app. <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="row imgderecha mt-3 pe-3">
            <div class="col-8 ms-5">
                <p> 🆘 Acá va a estar la información de como funciona la app. <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-3">
                <img src="../static/img/img_celu.png" class="float-end" alt="imagen de la app" width="80px" height="150px">

            </div>
        </div>
        <div class="row imgizq mt-3 ps-3">
            <div class="col-3 ms-5">
                <img src="../static/img/img_celu.png" class="float-start" alt="imagen de la app" width="80px" height="150px">
            </div>
            <div class="col-8 ">
                <p> 📞 Acá va a estar la información de como funciona la app. <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>

    <footer class="footer container-fluid">
        <div class="row padding">
            <div class="col-12 col-lg-4 footer-primera">
                <h6>Sobre nosotros</h6>
                <p class="fw-light"><a href="./home.html">Home</a></p>
                <p class="fw-light"><a href="./reporte.html">Nuevo Reporte</a></p>
                <p class="fw-light"><a href="./MisReportes.html">Mis Reportes</a></p>
                <p class="fw-light"><a href="./download.html">App</a></p>
            </div>
            <div class="col-12 col-lg-4 footer-segunda text-center">
                <h6>Informacion</h6>
                <p class="fw-light"><a href="#">Politica de Privacidad</a></p>
                <p class="fw-light"><a href="./contacto.html">Contacto</a></p>
            </div>
            <div class="col-12 col-lg-4 footer-tercera text-center mx-auto">
                <div class="inline">
                    <img src="../static/img/advertencia.png" alt="alert" width="25px" height="25px">
                    <h6>ZonaRoja</h6>
                </div>
                
                <div class="contenedordos">
                    <div>
                        <img src="../static/img/facebook.png" alt="icono de facebook" height="30" width="30">
                    </div>
                    <div>
                        <img src="../static/img/instagram.png" alt="icono de instagram" height="30" width="30">
                    </div>
                    <div>
                        <img src="../static/img/logotipos.png" alt="icono de twitter" height="30" width="30">
                    </div>
                </div>
                <h6>Descarga la App</h6>
                <div class="contenedortres">
                    <div>
                        <img src="../static/img/Banner_GooglePlay.png" alt="icono de facebook" width="130px" height="65px">
                    </div>
                    <div>
                        <img src="../static/img/banner-app-store.png" alt="icono de instagram" width="120px" height="45px">
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>