{% extends "base.html" %}
{% block tab %}Error{% endblock %}
{% block body %}
  <main>
    <div class="container" id="error-img">
      <div class="row">
        {% include "baseError.html"%}
        <div class="col-md-6 align-self-center">
          <h1 class="text-center fw-bold">400</h1>
          <h2 class="text-center text-justify">UH OH! You're lost.</h2>
          <p>The page you are looking for does not exist.
            How you got here is a mystery. But you can click the button below
            to go back to the homepage.
          </p>
          <div id="outer">
            <div class="fw-bold button_slide slide_right">
              <a href="{{url_for('home')}}">HOME</a>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </main>
{% endblock %}