{% extends "base.html" %}
{% block tab %}Inicio{% endblock %}
{% block body %}


<section class="background-section-animated">
    <h1 class="text-center text">ZonaRoja</h1>
</section>

<!-- PASAR A BLOQUE PARA REUTILIZAR -->
<section class="ReportesNovedades">
    <div>
        <h3 class="text-center">Reportes y novedades</h3><!-- EN EL FUTURO SUMAR CAROUSEL -->
        <div id="tarjetas-horizontales">

        {% for reporte in reportes %}
            <div class="tarjetas">
                <h5>Incidencia: {{reporte.tipo_reporte}}</h5>
                <p>Fecha de reporte: {{reporte.fecha_reporte}}</p>
                <p>Dirección: {{reporte.direccion_reporte}}</p>
                <p>Descripción: {{reporte.descripcion}}</p>
                
                <button class="btn btn-outline-success borde-size">
                    <a href="{{url_for('mreporte_id', id = reporte.ID)}}">Mas información</a>
                </button>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
<section class="section-app">
    <div id="content_jumbotron">
        <div class="rows">
            <div>
                <h1 class="text-center fw-bold">Descargate la app</h1>
                <h5 class="fw-normal text-muted mb-3">Realizá resportes y visualizá las zonas rojas de forma rápida y
                    segura desde la aplicación.</h5>
                <div class="row d-flex justify-content-left">
                    <div class="col-auto pt-1">
                        <img src="{{url_for('static', filename = 'img/Banner_GooglePlay.png')}}" alt="icono de Google Play" width="130px"
                            height="65px">
                        <img src="{{url_for('static', filename = 'img/banner-app-store.png')}}" alt="icono de App Store" width="120px"
                            height="44px">
                    </div>
                </div>
            </div>
            <div>
                <img src="{{url_for('static', filename = 'img/img_celu.png')}}" width="100px" height="200px">
            </div>
        </div>
    </div>
</section>


{% endblock %}