{% extends "base.html" %}
{% block tab %}Nuevo Reporte{% endblock %}
{% block body %}
<h4 class="text-center" id="login-alert" hidden></h4>
<div id="content">
    <h2>Nuevo Reporte</h2>
    <div>
        <p> -> ¿Sufriste de alguna situacion de incidencia y quieres reportarla?</p>
        <p>Completa el siguiente formulario con el mayor detalle que puedas ofrecernos para que podamos tomar tu reporte de incidencia y podamos notificarle a las autoridades y a otos usuarios.</p>
        <p>Gracias por reportar :)</p>
    </div>
    <form action="{{ url_for('reporte') }}" method="post" class="reporte">
        <fieldset>
            <div class="seccion_reporte">
                <label for="ID_usuario" hidden>ID</label>
                <input type="number" name="ID_usuario" id="ID_usuario" hidden>
            </div>
            <legend>Contacto</legend>
            <div class="seccion_reporte">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" required>
            </div>
            <div class="seccion_reporte">
                <label for="email">Mail</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="seccion_reporte">
                <label for="telefono">Teléfono</label>
                <input type="tel" name="telefono" pattern="11[0-9]{8}" id="telefono" required>
            </div>
        </fieldset>
        <fieldset>
            <legend>Reporte</legend>
            <div class="seccion_reporte">
                <label for="provincia">Provincia</label>
                <select name="provincia" id="provincia" required>
                    <option value="">Elige una provincia</option>
                </select>
            </div>
            <div class="seccion_reporte">
                <label for="municipio">Municipio</label>
                <select name="municipio" id="municipio">
                    <option value="">Selecciona</option>
                </select>
            </div>
            <div class="seccion_reporte">
                <label for="localidad">Localidad</label>
                <select name="localidad" id="localidad" required>
                    <option value="">Selecciona</option>
                </select>
            </div>
            <div class="seccion_reporte">
                <label for="tipo_reporte">Tipo de incidencia</label>
                <select name="tipo_reporte" id="tipo_reporte" required>
                    <option value="">Elige un tipo de incidente</option>
                    <option value="Robo">Robo</option>
                    <option value="Secuestro">Secuestro</option>
                    <option value="Violencia">Violencia</option>
                    <option value="Asesinato">Asesinato</option>
                </select>
            </div>
            <div class="seccion_reporte">
                <label for="direccion">Dirección del reporte</label>
                <input type="text" name="direccion" id="direccion" required>
            </div>
            <div class="seccion_reporte">
                <label for="imagen">Imagen (Opcional)</label>
                <input type="file" accept="image/*" name="imagen" id="imagen">
            </div>
            <div class="seccion_reporte">
                <label for="fecha">Fecha</label>
                <input type="date" name="fecha" id="fecha" required>
            </div>
            <div class="seccion_reporte">
                <label for="hora">Horario estimado</label>
                <input type="time" name="hora" id="hora" required>
            </div>
            <div class="seccion_reporte">
                <label for="descripcion">Mensaje</label>
                <textarea rows="5" name="descripcion" id="descripcion" placeholder="Detállenos el incidente..." required></textarea>
            </div>
        </fieldset>
        <div id="seccion_submit">
            <input id="submit" class="btn btn-outline-success borde-size" type="submit" value="Enviar">
        </div>
    </form>
</div>

<div id="confirmationModal" class="modal" style="display:none;">
    <div class="modal-content">
        <span id="closeModal" class="close">&times;</span>
        <h2 class="text-center">¿Es esta la dirección correcta?</h2>
        <div id="map" style="width: 100%; height: 300px;"></div>
        <div class="map-buttons">
            <button id="confirmBtn" class="btn btn-success">Confirmar</button>
            <button id="cancelBtn" class="btn btn-danger">Cancelar</button>
        </div>
    </div>
</div>

{% endblock %}


